body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    margin-top: 30px;

}

p {
    margin-top: 20px;
}

#age-input{

    width: 100px;
    margin: 10px;
}
#check-button{
margin-top: 10px;
}