body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

input, button {
  margin-bottom: 10px;
  font-size: 16px;
}

#result {
  font-size: 20px;
  font-weight: bold;
}
