
/* Estilos CSS para redimensionar a imagem e exibir 4 sandálias por linha */
.product-image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  text-align: center;
}

/* Restante dos estilos CSS */
main {
  padding-bottom: 60px; /* Adicione um espaçamento na parte inferior da seção de conteúdo principal */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}


.product-price span {
  font-weight: bold;
  color: #FF5733; /* Cor do preço, você pode ajustar para a cor desejada */
}

/* Estilos CSS para o formulário de seleção de pedido */
#order-form {
  text-align: center;
  padding: 20px;
}

#order-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#order-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-form label {
  font-size: 18px;
  margin-bottom: 5px;
}

#order-form select,
#order-form input[type="number"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#order-form input[type="submit"] {
  background-color: #FF5733;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}





